<div class="page-info-bg" {{bindAttr style="view.backgroundStyle"}}></div>
<div class="page-info-avatar">{{web-image url=view.pageInfo.portrait width=80 height=80}}</div>
<div class="page-info-title">{{view.page.displayTitle}}</div>
<div class="page-info-desc">{{view.pageInfo.desc}}</div>