<section id="editor">
	<section id="editor-components">
		
	</section>
	<section id="editor-canvas">
		<section id="simulator" class="selectable selected">
			<header>
				<h3>Page标题</h3>
			</header>
		</section>
	</section>
	<section id="editor-inspector">
		
	</section>
</section>